.sts-bg {
  background-color: rgba(77, 124, 152, 0.2);
  padding: 10px;
  border-radius: 10px;
}

.status-green {
  color: rgb(0, 195, 0);
  font-weight: bold;
}

.status-red {
  color: rgb(255, 0, 0);
  font-weight: bold;
}
